@model Wikipages.Models.Business

@{
    ViewData["Name"] = "Business - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new business</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")